body {
  background-color: #ddd;
  margin: 0px;
}
section {
  border: 0 solid white;
  margin: auto;
  width: 700px;
  max-width: 600px;
margin-top: 0%;
}

header {
  background-color: rgb(62, 158, 62);
}

strong{
  color:grey;
}
.firstnav-link{
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.first-nav{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
  list-style-type: none;
}
.first-nav a{
   text-decoration: none;
   color: green;
  font: bold;
  font: 600;
}
.select-button{
  width: 80px;
  border: 2px solid red;
  font-weight: bold;
  font-weight: 700;
  padding: 2px;
  color: red;
}

#option-us{
  color: black;
  border-bottom: 0;
}
.secound-nav{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
}
.secound-nav a{
 text-decoration: none;
 color: green;
}

.third-navlink{
   display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
padding-bottom: 20px;
}
.third-navlink a{
  text-decoration: none;
  color: red;
  font-weight: bold;
}

.ad-image{
display: flex;
justify-content: center;
padding-top: 10px;
padding-bottom: 20px;
}

.h2-post{
   width: 180px;
  background-color: red;
  color: white;
  margin: auto;
  padding-left: 10px; 
  padding-right: 5px;
  margin-bottom: 10px;
  margin-top: 50px;

}
.songs-list {
  background-color: #f3f3f3;
  padding-left: 20px;
}
.wizkid-div,
.chella-div,
.titai-div,
.professor-div,
.afrospin-div {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 1px solid #ddd;
}
.wizkid-img,
.chella-img,
.titai-img,
.prof-img,
.afrospin-img {
  width: 100px;
  height: auto;
}

.wizkid-div p a,
.chella-div p a,
.titai-div p a,
.professor-div p a,
.afrospin-div p a {
  text-decoration: none;
  color: black;
  font-size: medium;
  font-weight: 800;
}

.chella-section {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 1px solid #ddd;
}

.pages-number{
  display: flex;
  justify-content: center;
  padding: 10px 0px;
  gap: 10px;
}
.page-1{
  background-color: black;
  color: white;
}
#page{
  color: white;
  cursor: pointer;
}
.pages-number a{
  display: flex;
  justify-content: center;
  border: 1px solid #ccc;
  min-width: 20px;
  width: 30;
  padding: 5px 5px;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  text-decoration: none;
}
.search-div{
  text-align: center;
    padding: ;
    color: red;
    font: bold;
    font-weight: 700;
    padding-bottom: 20px;
}
.search-input{
  width: 400px;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 10px 10px;
  outline: none;
}
.search-button{
  border: none ;
  padding: 12px 20px;
  font-size: 16px;
}
footer {
  background-color: black;
}
.header-img {
  width: 180px;
  height: 30px;
  padding: 20px 20px;
}

.button-div {
  padding-bottom: 20px;
}

.footer-divimg {
  display: flex;
  justify-content: center;

}
.footer-img {
  width: 250px;
  height: 50px;

  padding-top: 40px;
}
/* FIRST FOOTER STYLES */
.first-footerdiv{
  display: flex;
  align-content: flex-start;
  justify-content: space-between;
  color: green;
 font-weight: 800;
}
.left-h4{
  margin-left: 40px;
}
.right-h4{
  margin-left: 40px;
}
.left-ul{
 list-style-type: none;
}
.right-ul {
  list-style-type: none;
}

.right-footer{
  margin-right: 150px;
}
.last-footerdiv{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.last-footerdiv p{
  margin: 5px;
  color: grey;
}



/* DOWNLOAD SECTION STYLES */


audio{
  width: 100%;
}

.wizkid-download{
  color: black;
  font-weight: bold;
}
.wizkid-downloadimg{
  width: 100%;
}
.wizdownload-section{
  background-color: white;
  padding: 10px;
  width: 700px;
  max-width: 600px;
}
.description-jibade{
  color:rgb(32, 117, 32);
  text-decoration: none;
  font-weight: bold;
}
.decription-p{
  padding: 10px;
  font-size: smaller;
}
.download-section{
  display: flex;
  justify-content: center;
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}



.download-btn{
  color: white;
  font-weight: bold;
  font-weight: 500;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 50px;
  padding-top: 10px;
  border: 0 solid ;
  border-radius: 5px;
  background-color: rgb(55, 168, 55);
  
}

.download-details{
  display: flex;
  justify-content: center;
  padding-top: none;
}

.login-section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: red;
  background-color: red;
}


.login-a{
padding-right: 10px;
margin-top: 20px;
color: green;
}
.login-button{
  color: white;
  background-color:rgb(255, 119, 0);
  border: 0 solid ;
  border-radius: 5px;
  width: 80px;
  padding: 5px;
}
.login-section{
  background-color: green;
  margin-bottom: 10px;
  border-radius: 8px;
  padding-left: 5px;
  font-weight: bold;
}
.login-section h3,a{
  color: white;

}